language: cpp

compiler:
 - gcc
 - clang

before_install:
 - git submodule update --init --recursive
 - sudo apt-get install -qq luajit

install: 
 - mkdir build
 - cd build
 - cmake ..

script: 
 - make
 - ./state_test
 - ./types_test
 - ./get_test
 - ./values_test
 - ./ref_test
 - ./lambda_test