language: cpp

compiler:
  - clang

env:
  matrix:
    - LUA=lua5.1 LIBLUA=liblua5.1-dev     LUA_INCDIR=/usr/include/lua5.1     LUA_LIB=lua5.1
    - LUA=lua5.2 LIBLUA=liblua5.2-dev     LUA_INCDIR=/usr/include/lua5.2     LUA_LIB=lua5.2
    - LUA=luajit LIBLUA=libluajit-5.1-dev LUA_INCDIR=/usr/include/luajit-2.0 LUA_LIB=luajit-5.1

before_install:

  # Install gcc 4.8.1
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

  # Clone submodules
  - git submodule update --init --recursive 

install:
  # Install Lua library
  - sudo apt-get install $LUA -y
  - sudo apt-get install $LIBLUA -y

before_script:
  - mkdir build
  - cd build
  - cmake .. -DLUA_LIBRARIES=$LUA_LIB -DLUA_INCLUDE_DIR=$LUA_INCDIR

script: 
  - make

  # Find all executable files and run them
  - find . -maxdepth 2 -type f -perm +111 -exec {} \;
