language: cpp

env:
 - LUA=""
 - LUA="luajit"

# Try using multiple Lua Implementations
env:
 - TOOL="gcc"                  # Use native compiler (GCC usually)
 - TOOL="clang"                # Use clang
 - TOOL="i686-w64-mingw32"     # 32bit MinGW
 - TOOL="x86_64-w64-mingw32"   # 64bit MinGW
 - TOOL="arm-linux-gnueabihf"  # ARM hard-float (hf), linux

# Crosscompile builds may fail
matrix:
 allow_failures:
  - env: TOOL="i686-w64-mingw32"
  - env: TOOL="x86_64-w64-mingw32"
  - env: TOOL="arm-linux-gnueabihf"

before_install:
 - git submodule update --init --recursive 

# Install dependencies
# install:

before_script:
 - mkdir build
 - cd build
 - cmake ..

script: 
 - make
 - ./state_test
 - ./types_test
 - ./get_test
 - ./values_test
 - ./ref_test
 - ./lambda_test
